<!-- <div *ngIf="chartsLoaded">  
  <div fxLayout="row wrap" fxLayoutGap="16px grid" >
    <div fxFlex="10%" fxFlex.xs="0%" fxFlex.sm="0%" ></div>
    <div fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="40%" >
      <canvas baseChart 
              [data]="brandData" 
              [type]="'pie'"
              [options]="brandChartOptions"
             >
      </canvas>
    </div>
    <div fxFlex="10%" fxFlex.xs="0%" fxFlex.sm="0%" >
    </div>

    <div fxFlex="33.33%" fxFlex.xs="100%" fxFlex.sm="40%" >
      <canvas baseChart 
              [data]="productTypeData" 
              [type]="'pie'"
              [options]="productTypeChartOptions"
            >
      </canvas>
    </div>
    <div fxFlex="10%" fxFlex.xs="0%" fxFlex.sm="0%" ></div>
  </div> -->

 <div fxLayout="row wrap" fxLayoutGap="16px grid" >
  <div fxFlex="10%" fxFlex.xs="10%" fxFlex.sm="10%" ></div>
  <div fxFlex="85%" fxFlex.xs="85%" fxFlex.sm="85%" >
   <div class="mat-elevation-z8">

    <h2 style="text-align: center;">Top 10 most expensive products</h2>
    
    </div>
    <div fxFlex="5%" fxFlex.xs="5%" fxFlex.sm="5%" ></div>
  </div>
</div>


